---
import PageLayout from "../layouts/PageLayout.astro";
import { emojis } from "../data/emojis";
import EmojiCard from "../components/EmojiCard.astro";

export const prerender = true;
---

<PageLayout title="GitHub Emojis" description="404 - Page not found">
  <div class="focus-within:ring-context/50 focus-within:border-context mb8 flex flex items-center border border-base rounded py-1 pl-1 pr-2 bg-base focus-within:(ring-2)">
    <input
      type="search"
      name="search"
      id="search"
      class="ml-0.4em w-full flex-auto bg-base !outline-none"
      placeholder="Begin Typing To Search Users..."
      hx-post="/search"
      hx-trigger="input changed delay:250ms, search"
      hx-target="#search-results"
      hx-indicator="#loading-indicator"
    />
  </div>

  <span id="loading-indicator" class="htmx-indicator opacity-0">Searching...</span>

  <div class="flex flex-1 flex-col gap2 pb6">
    <div id="search-results" class="grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2">
      {emojis.map((emoji) => <EmojiCard emojiKey={emoji.emojiKey} emoji={emoji.emoji!} emojiUrl={emoji.emojiUrl} />)}
    </div>
  </div>
</PageLayout>
