---
import PageLayout from "../layouts/PageLayout.astro";
import { emojis as emojiList } from "../data/emojis";
import EmojiCard from "../components/EmojiCard.astro";

export const prerender = true;

const emojis = emojiList.filter((emoji) => !emoji.isUnicode);
---

<PageLayout title="GitHub Emojis" description="All GitHub's emojis in one place.">
  <p class="mb-4 text-lg">
    Here you can find all the emojis that GitHub supports, that aren't Unicode emojis.
  </p>

  <div class="flex flex-1 flex-col gap2 pb6">
    <div id="search-results" class="grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2">
      {emojis.map((emoji) => <EmojiCard emojiKey={emoji.emojiKey} emoji={emoji.emoji!} emojiUrl={emoji.emojiUrl} />)}
    </div>
  </div>
</PageLayout>
