---
import { Icon } from "astro-icon/components";
---

<header>
  <nav class="flex items-center justify-between mb-8 text-sm">
    <h1 id="random-emoji" class="cursor-pointer text-2xl">📦 GitHub Emojis</h1>

    <div class="flex items-center justify-between gap-2">
      <a
        href="https://github.com/luxass/github-emojis"
        target="_blank"
        rel="noopener noreferrer"
        title="GitHub"
        aria-label="GitHub"
      >
        <Icon name="mdi:github" size={32} />
      </a>
    </div>
  </nav>
</header>
